.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px green;
}
.numpad{
    border: solid 2px red;
    display: flex;
}
.operators{
    border: solid 2px blue;
    display: flex;
}
.end-operations{
    display: flex;
}